@font-face {
    font-family: 'Anton Regular';
    src: url('../fontes/anton-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor1: #020558;
    --cor2: rgba(17, 0, 255, 0.85);
    --cor3: #4b38f7;
    --cor4: #7478d6;
    --cor5: #7fc8ed;
    --cor6: #B552F2;
    --cor7: rgb(248, 224, 3);
    --cor8: rgba(94, 1, 1, 0.85);
    --cor9: rgb(165, 1, 1);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cor5);
}

header > h1 {
    font-family: 'Anton Regular';
    font-size: 28px;
    background-image: linear-gradient(to right, var(--cor1), var(--cor3), var(--cor5), var(--cor7), var(--cor8));
    color: var(--cor9);
    text-transform: uppercase;
    text-shadow: 2px 2px 0 var(--cor8);
    text-align: center;
    margin-top: 15px;
    border-bottom: 2px solid black;
    text-shadow: 2px 2px 5px var(--cor8);
}

.titulo-1 {
    border: 2px solid black;
    border-bottom: 0;
    padding-top: 20px;
}    

.titulo-2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
    border-top: 0;
    padding-bottom: 20px;
}

.yeshua-1 {
    color: var(--cor1);
    text-shadow: 2px 2px 5px var(--cor3);
}

.yeshua-2 {
    color: var(--cor9);
    text-shadow: 2px 2px 5px var(--cor8);
}

header > h2 {
    background-color: var(--cor3);
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 37px;
    margin: 0 4px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}

.subtitulo {
    color: var(--cor7);
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

main {
    background-color: lightgray;
    color: black;
    position: relative;
    margin: 10px 12px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 25px 10px;
    text-align: center;
}

.explicacao {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/29/13/12/cloudy-1869753_1280.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: var(--cor7);
    text-align: center;
    padding-top: 67px;
    padding-bottom: 0;
    padding-left: 12px;
    padding-right: 12px;
}

main > div > p {
    margin: 0;
    padding-bottom: 0;
    font-size: large;
}

.st {
    margin-bottom: 20px;
}

#div1 {
    padding-bottom: 60px;
}

main p {
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 27px;
    margin-bottom: 7px;
}

.hor-line {
    margin-top: 30px;
}

.loc {
    color: var(--cor1);
    margin: 20px;
    margin-top: 0;
}

.aux {
    margin-bottom: 10px;
}

main > img {
    margin-bottom: -7px;
}

hr {
    margin-top: 10px;
    margin-bottom: 25px;
}

main > a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 6px;
}

main > a:hover {
    background-color: var(--cor4);
    color: var(--cor1);
    text-decoration: underline;
    font-weight: bold;
    padding: 5px 7px;
    border-radius: 8px;
}

main > a:active {
    background-color: var(--cor4);
    color: var(--cor8);
    text-decoration: underline;
    font-weight: bold;
    padding: 5px 7px;
    border-radius: 8px;
}

main > a:visited {
    color: var(--cor8);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 7px;
}

main > a.elo::after {
    content: '\00A0\1F517';
}

footer > p {
    background-color: black;
    color: var(--cor7);
    margin-bottom: 15px;
    padding: 2px;
    text-align: center;
}