@font-face {
    font-family: 'Trends';
    src: url('../fontes/trends.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor1: #2f34d3;
    --cor2: #3978ed;
    --cor3: #8152F2;
    --cor4: #5258F2;
    --cor5: #52BDF2;
    --cor6: #B552F2;
    --cor7: rgb(233, 233, 6);
    --cor8: darkred;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cor5);
}

header > h1 {
    font-family: 'Trends';
    background-image: linear-gradient(to right, var(--cor1), var(--cor2), var(--cor3), var(--cor4), var(--cor5), var(--cor6), var(--cor7), var(--cor8));
    color: var(--cor8);
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 2px solid black;
    padding: 25px;
}

header > h1 > span.yeshua-1 {
    color: var(--cor1);
}

header > h2 {
    background-color: var(--cor1);
    color: white;
    text-align: center;
    padding: 15px;
}

header > h2 > span.subtitulo {
    color: var(--cor8);
    font-weight: bold;
}

header > h2 > span.yeshua-2 {
    color: var(--cor7);
}

section {
    background-color: white;
    color: black;
    position: relative;
    margin: 10px auto;
    border: 2px solid black;
    padding: 25px;
    width: 92%;
    text-align: center;
}

section > img.biblia {
    width: 360px;
    height: 250px;
    margin-left: 15px;
    margin-bottom: 13px;
}

section > a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}

section > a:hover {
    background-color: var(--cor8);
    color: white;
    text-decoration: underline;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px 10px;
}

section > a.elo::after {
    content: '\00A0\1F517';
}

footer > p {
    background-color: black;
    color: var(--cor7);
    text-align: center;
    margin-bottom: 15px;
    padding: 5px;
}