@font-face {
    font-family: 'Anton Regular';
    src: url('../fontes/anton-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor1: #0d13d3;
    --cor2: #236aec;
    --cor3: #8c5ff5;
    --cor4: #666bf7;
    --cor-fundo: #7fc8ed;
    --cor6: #B552F2;
    --cor7: rgb(233, 233, 6);
    --cor8: darkred;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cor-fundo);
}

header > h1 {
    font-family: 'Anton Regular';
    background-image: linear-gradient(to right, var(--cor1), var(--cor2), var(--cor3), var(--cor4), var(--cor-fundo), var(--cor6), var(--cor7), var(--cor8));
    color: var(--cor8);
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 2px solid black;
}

header > h1 > span.yeshua-1 {
    color: var(--cor1);
}

header > h2 {
    background-color: var(--cor1);
    color: white;
    text-align: center;
    border: 2px solid black;
    padding: 25px;
}

header > h2 > span.subtitulo {
    color: var(--cor8);
    font-weight: bold;
}

header > h2 > span.yeshua-2 {
    color: var(--cor7);
}

section {
    background-color: white;
    color: black;
    position: relative;
    margin: 10px auto;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

section > picture > img, section > picture > source {
    padding-bottom: 10px;
}

section > a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 7px;
}

section > a:hover {
    background-color: var(--cor8);
    color: white;
    text-decoration: underline;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px 7px;
}

section > a.elo::after {
    content: '\00A0\1F517';
}

footer {
    text-align: center;
}

footer > p {
    background-color: black;
    color: var(--cor7);
    margin-bottom: 15px;
    padding: 4px;
}